@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Vollkorn+SC:wght@400;600;700;900&display=swap');

:root {
  --primary-font-family: 'Poppins', sans-serif;
  --primary-color: #1d5191;
  --secondary-color: #4993ee;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--primary-font-family);
}
