@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Vollkorn+SC:wght@400;600;700;900&display=swap');

:root {
  --primary-font-family: 'Poppins', sans-serif;
  --primary-color: rgb(5, 67, 90);
  --secondary-color: #099c4f;
  --tertiary-color: #080d36;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--primary-font-family);
  overflow-x: hidden;
  width: 100vw;
}

body {
  width: 100vw;
  height: auto;
}
